body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: rgba(0,0,0,0.9);
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  color: rgba(0,0,0,0.9);
  text-decoration: none;
}

#root {
  overflow: hidden;
}

.header {
  height: 40px;
  display: block;
}

.newslist-wrapper {
  width: 70%;
  margin-left: 30%;
  float: right;
  margin-top: 10px;
  transition-duration:0.2s;
}

@media (max-width: 1024px) {
  .newslist-wrapper {
    width: 100%;
    margin-left: 0;    
  }
}

.newslist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.newslist__item {
  float: left;
  width: 100%;
  min-height: 200px;
  margin: 0 0 10px;
  padding: 0 10px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: none !important;
  text-align: left;
  overflow: hidden;
}

@media (max-width: 768px) {
  .newslist__item {
    width: 100%;
    height: auto;
  }
}

.newslist__content {
  float: left;
  width: 66%;
  padding-left: 20px;
}

.newslist__link {
  border: 1px solid rgba(0,0,0,0.5);
  padding: 8px 10px;
  display: inline-block;
  background: white;
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.17);
}

.newslist__image {
  float: left;
  width: 33%;
  position: relative;
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    background: rgba(0,0,0,0.1);
  }
}

.newslist__image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 
}

.newslist__source {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 5px 7px;
  background: rgba(0,0,0,0.75);
  color: white;
  font-size: 12px;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .newslist__source {
    position: relative;
    left:0;
    top: initial;
    margin-top:10px;
  }
}

.newslist__title {
  font-weight: 600;
  margin: 0 0 10px;
  line-height: 110%;
}

.newslist__date {
  margin: 0 0 10px;
  font-size: 14px;
}

.newslist__description {
  margin: 0 0 15px;
  font-size: 14px;
}

.placeholder {
  width: 100%;
  display: block;
  background: #f2f2f2;
  padding-bottom: 56.5%;
}

.sources {
  position: fixed;
  z-index:9;
  top: 0;
  left: 0;
  width: 30%;
  height: 100vh;
  overflow: scroll;
  background: #D4D998;
  text-align: left;
  transition-duration: 0.2s;
}

.sources-list {
  transition-duration: 0.2s;
  position: absolute;
  top: 40px;
  width: 100%;
}

.sources-list--left {
  left: 0;
}

.sources-list--right {
  left: 100%;
}

@media (max-width: 1024px) {
  .sources {
    width: 270px;
    left: -270px;
  }
}

.source {
  padding: 10px;
  float: left;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0,0,0,0.05)
}

.source__title,
.source__checkbox {
  float: left;
  width: 50%;
}

.source__checkbox {
  overflow: hidden;
  position: relative;
}

.source__title {
  padding-right: 10px;
}

.source__title span {

}

.source input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
  display: none;
}

.source label {
  cursor: pointer;
  text-indent: -9999px;
  width: 80px;
  height: 36px;
  float: right;
  background: grey;
  display: block;
  border-radius: 20px;
  position: relative;
  highlight:none;
  ::-moz-selection {
    background: transparent;
  }
  ::selection {
    background: transparent;
  }
  -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.30);
  -moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.30);
  box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.30);
}

.source label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 28px;
  height: 28px;
  background: #fff;
  border-radius: 90px;
  transition: 0.1s;
  -webkit-box-shadow: inset 0px 0px 25px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0px 0px 25px 1px rgba(0,0,0,0.15);
  box-shadow: inset 0px 0px 25px 1px rgba(0,0,0,0.15);
}

.source input:checked + label {
  background: #bada55;
}

.source input:checked + label:after {
  left: calc(100% - 5px);
  transform: translate3d(-100%,0,0);
}

label:active:after {
  // width: 130px;
}

.source input[type="checkbox"]:checked {
  pointer-events: none;
}

// centering
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.trigger {
  position: fixed;
  z-index: 10;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  background: white;
  -webkit-appearance: none;
  border-radius: 0px;
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.17);
}

.trigger:after, 
.trigger:before {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  left: 8px;
  top: 16px;
  transition-duration:0.15s;
}
.trigger:after {
  top: 22px;
}
  
@media (min-width: 1025px) {
  .trigger {
    display: none;
  }
}

.trigger:checked:after {
  transform: rotate(45deg) translate3d(0,-2px,0);

}

.trigger:checked:before {
  transform: rotate(-45deg) translate3d(-2px,3px,0);
}

@media (max-width: 1024px) {
  input[type="checkbox"]:checked ~ div {
    transform: translate3d(270px,0,0);
  }  
}

.toggle-sources {
  width: 100%;
  height: 40px;
  background: white;
  text-align: center;
  line-height: 40px;
  display: block;
  margin: 0;
}

.toggle-sources--checkbox {
  position: absolute;
  display: none;
}

input.toggle-sources--checkbox:checked ~ div {
  transform: translate3d(-100%,0,0);
}

.toggle-sources {

}

