body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: rgba(0,0,0,0.9);
}


// centering
body {
  min-height: 100vh;
  background-color: rgba(245,245,245,1.0);
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  color: rgba(0,0,0,0.9);
  text-decoration: none;
}

#root {
  overflow: hidden;
}

.header {
  height: 40px;
  display: block;
}


.placeholder {
  width: 100%;
  display: block;
  background: #f2f2f2;
  padding-bottom: 56.5%;
}

.sources {
  position: fixed;
  z-index:9;
  top: 0;
  left: 0;
  width: 270px;
  height: 100vh;
  overflow: hidden;
  background: rgba(0,0,0,0.06);
  text-align: left;
  transition-duration: 0.2s;
}

@media (min-width: 767px) {
  .sources {
    border-right: 1px solid rgba(0,0,0,0.075);
    display: block !important;    
  }
}

.trigger {
  position: fixed;
  z-index: 10;
  left: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  background: white;
  -webkit-appearance: none;
  border-radius: 0px;
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.17);
}

.trigger:after, 
.trigger:before {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  left: 8px;
  top: 16px;
  transition-duration:0.15s;
}
.trigger:after {
  top: 22px;
}
  
@media (min-width: 767px) {
  .trigger {
    display: none;
  }
}

.trigger:checked:after {
  transform: rotate(45deg) translate3d(0,-2px,0);

}

.trigger:checked:before {
  transform: rotate(-45deg) translate3d(-2px,3px,0);
}

.toggle-sources__label {
  width: 100%;
  border-bottom: 1px solid black;
  text-align: left;
  line-height: 20px;
  text-transform: lowercase;
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
  display: inline-block;
  z-index: 9;
  opacity: 0.3;
  padding: 20px 30px 20px 45px;
  background-position: 83% center;
  background-repeat: no-repeat;
  background-size: 15px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxwb2x5bGluZSBmaWxsPSJub25lIiBwb2ludHM9IiAgIDY0OSwxMzcuOTk5IDY3NSwxMzcuOTk5IDY3NSwxNTUuOTk5IDY2MSwxNTUuOTk5ICAiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iMiIvPjxwb2x5bGluZSBmaWxsPSJub25lIiBwb2ludHM9IiAgIDY1MywxNTUuOTk5IDY0OSwxNTUuOTk5IDY0OSwxNDEuOTk5ICAiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iMiIvPjxwb2x5bGluZSBmaWxsPSJub25lIiBwb2ludHM9IiAgIDY2MSwxNTYgNjUzLDE2MiA2NTMsMTU2ICAiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iMiIvPjwvZz48Zz48Zz48cGF0aCBkPSJNMi45ODIsMTdoMjYuMDM1YzAuMzk3LDAsMC43NTYtMC4yNDQsMC45MDgtMC42MTdjMC4xNTItMC4zNzQsMC4wNjgtMC44MDQtMC4yMTMtMS4wOWwtMTEuNzg5LTEyICAgIGMtMC4zODQtMC4zOTEtMS4wMDUtMC4zOTEtMS4zODksMHMtMC4zODQsMS4wMjMsMCwxLjQxNEwyNi42NDYsMTVIMi45ODJDMi40MzksMTUsMiwxNS40NDgsMiwxNlMyLjQzOSwxNywyLjk4MiwxN3oiLz48L2c+PGc+PHBhdGggZD0iTTE3LjIyOCwyOWMwLjI1MSwwLDAuNTAzLTAuMDk4LDAuNjk1LTAuMjkzbDcuODYtOGMwLjM4NC0wLjM5MSwwLjM4NC0xLjAyMywwLTEuNDE0cy0xLjAwNS0wLjM5MS0xLjM4OSwwbC03Ljg2LDggICAgYy0wLjM4NCwwLjM5MS0wLjM4NCwxLjAyMywwLDEuNDE0QzE2LjcyNSwyOC45MDIsMTYuOTc3LDI5LDE3LjIyOCwyOXoiLz48L2c+PC9nPjwvc3ZnPg==);
  transition-duration: 0.25s;
  box-shadow: 0 3px 5px 0px rgba(0,0,0,0.2);
}

.toggle-sources__input {
  visibility: hidden;
  height: 0px;
  width: 0px;
  margin: 0;
  padding: 0;
  display: none;
}
@media (max-width: 767px) {
  .toggle-sources__label {
  } 
}

.toggle-sources__input:checked + label {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxwb2x5bGluZSBmaWxsPSJub25lIiBwb2ludHM9IiAgIDY0OSwxMzcuOTk5IDY3NSwxMzcuOTk5IDY3NSwxNTUuOTk5IDY2MSwxNTUuOTk5ICAiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iMiIvPjxwb2x5bGluZSBmaWxsPSJub25lIiBwb2ludHM9IiAgIDY1MywxNTUuOTk5IDY0OSwxNTUuOTk5IDY0OSwxNDEuOTk5ICAiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iMiIvPjxwb2x5bGluZSBmaWxsPSJub25lIiBwb2ludHM9IiAgIDY2MSwxNTYgNjUzLDE2MiA2NTMsMTU2ICAiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iMiIvPjwvZz48Zz48Zz48cGF0aCBkPSJNMjkuMDE4LDE3SDIuOTgyYy0wLjM5NywwLTAuNzU2LTAuMjQ0LTAuOTA4LTAuNjE3Yy0wLjE1Mi0wLjM3NC0wLjA2OC0wLjgwNCwwLjIxMy0xLjA5bDExLjc4OS0xMiAgICBjMC4zODQtMC4zOTEsMS4wMDUtMC4zOTEsMS4zODksMHMwLjM4NCwxLjAyMywwLDEuNDE0TDUuMzU0LDE1aDIzLjY2M0MyOS41NjEsMTUsMzAsMTUuNDQ4LDMwLDE2UzI5LjU2MSwxNywyOS4wMTgsMTd6Ii8+PC9nPjxnPjxwYXRoIGQ9Ik0xNC43NzIsMjljLTAuMjUxLDAtMC41MDMtMC4wOTgtMC42OTUtMC4yOTNsLTcuODYtOGMtMC4zODQtMC4zOTEtMC4zODQtMS4wMjMsMC0xLjQxNHMxLjAwNS0wLjM5MSwxLjM4OSwwbDcuODYsOCAgICBjMC4zODQsMC4zOTEsMC4zODQsMS4wMjMsMCwxLjQxNEMxNS4yNzUsMjguOTAyLDE1LjAyMywyOSwxNC43NzIsMjl6Ii8+PC9nPjwvZz48L3N2Zz4=);
}

.toggle-sources__input:checked ~ div {
  transform: translate3d(-100%,0,0);
}

.lastupdated {
  position: absolute;
  top: 15px;
  right: 22px;
  font-size: 14px;
  color: rgba(0,0,0,0.3);
}

@media (max-width: 767px) {
  .lastupdated {
    right: 60px;
  }
}

.poweredby {
  width: 100%;
  text-align: center;
  margin: 30px 0 10px 0;
  display: inline-block;
  color: rgba(0,0,0,0.3);
  font-size: 14px;
}

.poweredby a {
  color: rgba(0,0,0,0.3);
  text-decoration: underline;
}

/* Slideout Menu */

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 270px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
}
 
.slideout-panel {
  width: calc(100% - 270px);
  min-height: 100vh;
  margin-left: 30%;
  float: right;
  transition-duration:0.2s;
  position: relative;
  z-index: 1;
  will-change: transform;
  display: inline-block;
  height: 100%;
  background: whitesmoke;
}

@media (max-width: 767px) {
  .slideout-panel {
    width: 100%;
    margin-left: 0;   
  }
}

@media (max-width: 767px) {
  .slideout-panel {
    padding-left: 50px;
  }
  .slideout-panel:before {
    content: "";
    width: 48px;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.06);
    position: absolute;
    left: 0;
    top: 0;
    border-left: 1px solid rgba(0,0,0,0.13);
    border-right: 1px solid rgba(0,0,0,0.13);
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUwMCA1MDAiIGhlaWdodD0iNTAwcHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MDAgNTAwIiB3aWR0aD0iNTAwcHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxnPjxsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzEzMEI3QSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMi42MTMxIiBzdHJva2Utd2lkdGg9IjEwIiB4MT0iNTUuMzE1IiB4Mj0iNDQ0LjY4NSIgeTE9IjQyNSIgeTI9IjQyNSIvPjwvZz48Zz48bGluZSBmaWxsPSJub25lIiBzdHJva2U9IiMxMzBCN0EiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjIuNjEzMSIgc3Ryb2tlLXdpZHRoPSIxMCIgeDE9IjU1LjMxNSIgeDI9IjQ0NC42ODUiIHkxPSIyNDkuOTgxIiB5Mj0iMjQ5Ljk4MSIvPjwvZz48Zz48bGluZSBmaWxsPSJub25lIiBzdHJva2U9IiMxMzBCN0EiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjIuNjEzMSIgc3Ryb2tlLXdpZHRoPSIxMCIgeDE9IjU1LjMxNSIgeDI9IjQ0NC42ODUiIHkxPSI3NSIgeTI9Ijc1Ii8+PC9nPjwvZz48L3N2Zz4=);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: 13px;
  }
  /*
  .slideout-panel:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 15px;
    top: calc(50vh - 10px);
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIGlkPSLQodC70L7QuV8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnIGlkPSJNZW51Ij48cGF0aCBkPSJNMSw3aDMwYzAuNTUyLDAsMS0wLjQ0OCwxLTFjMC0wLjU1Mi0wLjQ0OC0xLTEtMUgxQzAuNDQ4LDUsMCw1LjQ0OCwwLDZDMCw2LjU1MiwwLjQ0OCw3LDEsN3oiIGZpbGw9IiMxMjEzMTMiLz48cGF0aCBkPSJNMzEsMTVIMWMtMC41NTIsMC0xLDAuNDQ4LTEsMWMwLDAuNTUyLDAuNDQ4LDEsMSwxaDMwYzAuNTUyLDAsMS0wLjQ0OCwxLTFDMzIsMTUuNDQ4LDMxLjU1MiwxNSwzMSwxNXoiIGZpbGw9IiMxMjEzMTMiLz48cGF0aCBkPSJNMzEsMjVIMWMtMC41NTIsMC0xLDAuNDQ4LTEsMWMwLDAuNTUyLDAuNDQ4LDEsMSwxaDMwYzAuNTUyLDAsMS0wLjQ0OCwxLTFDMzIsMjUuNDQ4LDMxLjU1MiwyNSwzMSwyNXoiIGZpbGw9IiMxMjEzMTMiLz48L2c+PGcvPjxnLz48Zy8+PGcvPjxnLz48Zy8+PC9zdmc+);
    background-size: 20px;
    background-repeat: no-repeat;
  }
 */
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}
 
.slideout-open .slideout-menu {
  display: block;
}

.logo {
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: left;
  padding-left: 45px;
  margin-top: 15px;
  font-weight: 600;
}