
.item {
  float: left;
  width: 100%;
}

.item--simple {
  text-transform: Capitalize;
}

.item label {
  padding: 10px 20px 10px 25px;
  float: left;
  width: 100%;
  display: flex;
  margin-bottom:2px;
  border: 1px solid transparent;
  text-align: left;
  position: relative;
  transition: 0.15s;
}

.item input[type="checkbox"] {
  visibility:hidden;
  height:0;
  width:0;
  margin:0;
  padding:0;
}

.item.item--simple label:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  background: red;
  left: 0;
  top: 18px;
  opacity:0;
}

.item input[type="checkbox"]:checked + label {
  background: white;
  border-radius: 5px;
  border: 1px solid #d8dbdc;
  padding-left: 36px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
}

.item.item--simple input[type="checkbox"]:checked + label:before {
  opacity: 1;
  transform: translate3d(10px,0,0);
}

.item--plusminus {

}



.item--plusminus label:before,
.item--plusminus label:after {
  content: "";
  height: 1px;
  width: 20px;
  position: absolute;
  top: 20px;
  left: calc(100% - 35px);
  transform: translate3d(0,0,0) translate(-50%, -50%);
  background: #000;
}

.item--plusminus label:after {
  content: "";
  transform: rotate(90deg) translate(-50%, -50%);
  transition: all 200ms ease-in-out;
  transform-origin: 0 0;
}

.item--plusminus input[type=checkbox]:checked + label:after {
  background: #e1e3e3;
  transform: rotate(0) translate(-50%,-50%);
}
