.newslist-wrapper {
  margin-top: 60px;
}


.newslist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 0 10px;
}

.newslist__item {
  float: left;
  width: 100%;
  min-height: 200px;
  margin: 0 0 10px;
  padding: 10px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: none !important;
  text-align: left;
  overflow: hidden;
}

.newslist__content {
  float: left;
  width: calc(100% - 160px);
  width: 100%;
  padding: 30px 30px 0 30px;
  background: white;
  text-align: center;
}

.newslist__link {
  width: calc(100% + 60px);
  padding: 8px 10px;
  display: inline-block;
  background: white;
  text-align: center;
  margin-left: -30px;
  border: 0;
  background: rgba(0,0,0,0.1);
}

.newslist__image {
  position: relative;
  float: none;
  width: 100%;
  font-size: 0;
  height: 0;
  padding-bottom: 53%;
  overflow: hidden;
  background-color: #f5f5f5;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.11'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: 5px 5px;
}

.newslist__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
}

.newslist__image img[src="Error.src"],
.newslist__image img[src=""] {
  padding: 50px 40px;
  text-align: center;
}

.newslist__source {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 5px 7px;
  background: rgba(0,0,0,0.75);
  color: white;
  font-size: 12px;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.newslist__title {
  font-weight: 600;
  margin: 0 0 5px;
  line-height: 140%;
}

.newslist__date {
  margin: 0 0 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.2);
  font-weight: 600;
}

.newslist__description {
  margin: 0 0 25px;
  font-size: 13px;
  line-height: 150%;
  color: rgba(0,0,0,0.75);
}