.sources-list {
  transition-duration: 0.2s;
  position: absolute;
  top: 112px;
  width: 100%;
  padding: 20px;
  height: calc(100vh - 112px);
  max-height: calc(100vh - 112px);
  overflow-y: scroll;
}

.sources-list--left {
  left: 0;
}

.sources-list--right {
  left: 100%;
}